<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="10 seconds">


	<!-- ==============================   APPENDERS   ============================= -->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{45}  - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/diplomski-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- ==============================   LOGGERS   ============================= -->

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

	<logger level="DEBUG" name="EclipseLink" />
	<logger level="INFO"  name="org.springframework" />
	<logger level="TRACE" name="hr.lenak.diplomski" />

</configuration>